*.egg-info
*.mo
*.pyc
*~
.installed.cfg
.mr.developer.cfg
src/plonesocial.*
src/plone.app.blocks
bin/
coverage/
develop-eggs/
downloads/
eggs/
include/
lib/
parts/
var/
dist/
buildout-cache
.cache/
.mozilla/
local/
