[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/travis-4.x.cfg

package-name = plonesocial.suite
package-extras = [test]
test-eggs =
          plonesocial.suite
          plonesocial.microblog
          plonesocial.activitystream
          plonesocial.network

parts +=
      flake8

[versions]
zc.buildout = 1.6.3

[flake8]
recipe = zc.recipe.egg
eggs = flake8
       ${instance:eggs}
entry-points =
    flake8=flake8.run:main